<!-- index.html -->
<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
	<!-- SCROLLS -->
	<!-- load bootstrap and fontawesome via CDN -->

	<!-- SPELLS -->
	<!-- load angular via CDN -->
	<script src="./lib/angular/angular.js"></script>
	<script src="scripts.js"></script>
	<style type="text/css">
	.name-input{
		width: 300px;
	}
	</style>
</head>
<body ng-controller="mainController">

	<!-- MAIN CONTENT AND INJECTED VIEWS -->
	<span>Book Name:</span>
	<input type="input" ng-model="bookname" class="name-input"></input>
	<div ng-bind="getUrl(bookname)"></div>
	<input type="button" ng-click="downloadBook()" value="Download this book"></input>

</body>
</html>